appdirs==1.4.4
astor==0.8.1
Babel==2.9.1
bce-python-sdk==0.8.60
bleach==1.5.0
certifi==2020.11.8
cfgv==3.2.0
chardet==4.0.0
click==8.0.0
colorama==0.4.4
cycler==0.10.0
dataclasses==0.8
distlib==0.3.1
filelock==3.0.12
flake8==3.9.2
Flask==2.0.0
Flask-Babel==2.0.0
future==0.18.2
grpcio==1.32.0
h5py==2.10.0
html5lib==0.9999999
identify==2.2.4
idna==2.10
importlib-resources==5.1.3
itsdangerous==2.0.0
Jinja2==3.0.0
joblib==0.17.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.0
matplotlib==3.3.3
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nodeenv==1.6.0
numpy==1.16.4
opencv-python==4.4.0.46
pandas==1.1.2
Pillow==8.2.0
pre-commit==2.12.1
protobuf==3.13.0
pycodestyle==2.7.0
pycryptodome==3.10.1
pyflakes==2.3.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.25.1
scikit-learn==0.23.2
scipy==1.5.4
Shapely==1.7.1
shellcheck-py==0.7.2.1
SimpleITK==2.0.1
tensorboard==1.9.0
tensorboardX==2.1
tensorflow==1.9.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.0+cu101
torchaudio==0.7.0
torchvision==0.8.1+cu101
tqdm==4.52.0
typeguard==2.12.0
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.4.6
visualdl==2.1.1
Werkzeug==2.0.0
wincertstore==0.2
